<div style="width:100%; padding: 10px 5px; font-size:13px;">
	<table width="99%;">
		<thead>
			<th width="7%">No.</th>
			<th width="33%">Name</th>
			<th width="20%">City</th>
			<th width="20%">State</th>
			<th width="20%">Mobile Number</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Mr. Dharmendra Lakhera</td>
				<td>Jaipur </td>
				<td>Rajasthan</td>
				<td>9314016972</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Mr. Chetan Laxakar</td>
				<td>Mumbai </td>
				<td>Maharastra</td>
				<td>9769588007</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Mr. Lokesh Laxakar</td>
				<td>Devoli, Tonk </td>
				<td>Rajasthan</td>
				<td>9214065151</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Mr. Satish Lakhara</td>
				<td>Udaipur </td>
				<td>Rajasthan</td>
				<td>7597346846</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Mr. Banwari Lakhera</td>
				<td>Kota </td>
				<td>Rajasthan</td>
				<td>9414284692</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Mr. Vinod Lakhera</td>
				<td>Jodhour </td>
				<td>Rajasthan</td>
				<td>9400959303</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Mr. Rajesh Lakhera</td>
				<td>Mumbai </td>
				<td>Maharastra</td>
				<td>9821153356</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Mr. Mayank Bhati</td>
				<td>Roorkee</td>
				<td>Uttarakhand</td>
				<td>9917171316</td>
			</tr>
			<tr>
				<td>9</td>
				<td>Mr. Mukesh Lakhera</td>
				<td>Mumbai </td>
				<td>Maharastra</td>
				<td>9967203755</td>
			</tr>
			<tr>
				<td>10</td>
				<td>Mr. Rajendra Lakhera</td>
				<td>Bijaynagar, Ajmer </td>
				<td>Rajasthan</td>
				<td>9414421360</td>
			</tr>
			<tr>
				<td>11</td>
				<td>Mr. Dinesh Lakhera (papsa)</td>
				<td>Jodhpur </td>
				<td>Rajasthan</td>
				<td>9783149445</td>
			</tr>
			<tr>
				<td>12</td>
				<td>Mr. Mnoj Lakhera</td>
				<td>Udaipur </td>
				<td>Rajasthan</td>
				<td>9414317760</td>
			</tr>
			<tr>
				<td>13</td>
				<td>Mr. Bharat Lakshakar</td>
				<td>Surat </td>
				<td>Gujarat</td>
				<td>9510825830</td>
			</tr>
			<tr>
				<td>14</td>
				<td>Mr. Hitesh Lakhera</td>
				<td>Hurda, Bhilwara </td>
				<td>Rajasthan</td>
				<td>9414933212</td>
			</tr>
			<tr>
				<td>15</td>
				<td>Mr. Gajraj Lakhera</td>
				<td>Kekri, Ajmer </td>
				<td>Rajasthan</td>
				<td>9785225625</td>
			</tr>
			<tr>
				<td>16</td>
				<td>Mr. Deepak Lakhera</td>
				<td>Jodhpur </td>
				<td>Rajasthan</td>
				<td>9982213147</td>
			</tr>
			<tr>
				<td>17</td>
				<td>Mr. Ramavatar Lakhera</td>
				<td>Kota </td>
				<td>Rajasthan</td>
				<td>9529662916</td>
			</tr>
			<tr>
				<td>18</td>
				<td>Mr. Suresh. M. Lakhera</td>
				<td>Hubli </td>
				<td>karnataka</td>
				<td>9448369066</td>
			</tr>
			<tr>
				<td>19</td>
				<td>Mr. Jayesh Lakhera</td>
				<td>Surat </td>
				<td> Gujarat</td>
				<td>9274502611</td>
			</tr>
			<tr>
				<td>20</td>
				<td>Mr. Rajendra Lakhera</td>
				<td>Bhinmal </td>
				<td>Rajasthan</td>
				<td>9571788482</td>
			</tr>
			<tr>
				<td>21</td>
				<td>Mr. Satpal Chauhan</td>
				<td>New Delhi </td>
				<td>Delhi</td>
				<td>9250001023</td>
			</tr>
			<tr>
				<td>22</td>
				<td>Mr. Mukesh kumar Lakhera</td>
				<td>Hurda, Bhilwara </td>
				<td>Rajasthan</td>
				<td>9799109615</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Mr. Bherulal Laxakar</td>
				<td>Shahpura, Bhilwara</td>
				<td>Rajasthan</td>
				<td>9828089097</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Mr. Ghanshyam Lakhera</td>
				<td>Bangalore </td>
				<td>Karnataka</td>
				<td>9845172480</td>
			</tr>
			<tr>
				<td>25</td>
				<td>Mr. Prakash Lakhera</td>
				<td>Prabhi </td>
				<td>Maharastra</td>
				<td>9860293939</td>
			</tr>
			<tr>
				<td>26</td>
				<td>Mr. Rajesh Lakhera</td>
				<td>Nimach </td>
				<td>Madhya Pradesh</td>
				<td>9300081800</td>
			</tr>
			<tr>
				<td>27</td>
				<td>Mr. Dharmendra Lakhera</td>
				<td>Badot Bhagwat </td>
				<td>Uttar Pradesh</td>
				<td>9837875049</td>
			</tr>
			<tr>
				<td>28</td>
				<td>Mr. Himmat Lakhera</td>
				<td>Udaipur </td>
				<td>Rajasthan</td>
				<td>9928680317</td>
			</tr>
			<tr>
				<td>29</td>
				<td>Mr. Jaiprakash Lakhera</td>
				<td>Bangalore</td>
				<td>karnataka</td>
				<td>9900899569</td>
			</tr>

			<tr>
				<td>30</td>
				<td>Mr. Dilip Lakhera</td>
				<td>Bhivndi </td>
				<td>Maharastra</td>
				<td>9911693551</td>
			</tr>
			<tr>
				<td>31</td>
				<td>Mr. Sanjay Lakhera</td>
				<td>New Delhi </td>
				<td>Delhi</td>
				<td>9013607754</td>
			</tr>
			<tr>
				<td>32</td>
				<td>Mr. Ashok Kumar Lakhera</td>
				<td>Shivana, Badmer </td>
				<td>Rajasthan</td>
				<td>7597003513</td>
			</tr>
			<tr>
				<td>33</td>
				<td>Mr. Pavan Lakhera</td>
				<td>Shindri, Badmer </td>
				<td>Rajasthan</td>
				<td>9460288027</td>
			</tr>
			<tr>
				<td>34</td>
				<td>Mr. Hanuman Prashad Lakhera</td>
				<td>Surat </td>
				<td>Gujarat</td>
				<td>8734059618</td>
			</tr>
			<tr>
				<td>35</td>
				<td>Mr. Sandeep Laxkar</td>
				<td>Udaipur </td>
				<td>Rajasthan</td>
				<td>9829980367</td>
			</tr>
		</tbody>
	</table>
</div>
<style type="text/css">
  table, th, td {border: 1px solid gray;}
  thead {background-color: #BE0C0C;color: white;}
  td, th {font-size: 14px;text-transform: capitalize; vertical-align: top;padding: 5px;}
  tr {border: 1px solid gray;}
</style>