<div style="padding-left: 10px;">
<div id="Labelrent" style="margin-left: 210px;">
  <strong>Donate Now</strong>
</div>
<div style="font-size: 14px;">
	<p align="=justify">Akhil Bhartiya Lakhara Yuva Sangthan welcome you at our e-platform. In order to fulfill our roles and responsbilities towards the samaj, we are expecting your help, support and motivation	. You can donate us through cash, cheque or onilne transfer. Bank Account details are provied below.</p>
	<br/>
	<p align="center"> -: Bank Account Details :- </p>
	<br>
	<div class="donate">
		<table>
			<tr><td> Bank Name</td><td> Punjab National Bank</td></tr>
			<tr><td> Branch</td><td> BSM College Chowk, Roorkee, Dis. Hairdwar, Uttaranchal - 247667 </td></tr>
			<tr><td> Account Holder Name</td><td> Akhil Bhartiya Lakhara Yuva Sangthan </td></tr>
			<tr><td> Account Number</td><td> 7629000100013126 </td></tr> 
			<tr><td> IFSC Code</td><td> PUNB0762900 </td></tr>
		</table>
	</div>
	<p>We assure you that the donation provided by you will be utilized in social works and improvement of samaj and Sangthan. In case of any query or help, you can write us message through the page <%= link_to "Contact Us", "#" %>.</p>
	<p>You can directly contact any <%= link_to "National Core Commitee(NCC) Members", ablys_members_users_path %> or <%= link_to "Ablys Technical Team", about_us_path %> through phone or emails.</p>
	<div id='tag'>
	  <p>With Regards</p>
	  <p style="color:#FA351E;padding-right: 10px;">Akhil Bhartiya Lakhara Yuva Sangthan</p>
	</div>

</div>

<style type="text/css">
  .donate table, .donate tr, .donate td {border: 1px solid gray;}
  .donate thead {background-color: #BE0C0C;color: white;}
  .donate td, th {font-size: 14px;text-transform: capitalize; vertical-align: top;padding: 5px;}
  .donate tr {border: 1px solid gray;}
  .donate table{
  	border: 1px solid gray;
		background-color: snow;
		}
	.donate {
		padding: 0 0 20px 90px;
		}
  #tag {float: right;margin: 20px 0px;text-align: center;}
</style>