<div style="color: #FA351E; font-size: 15px; padding: 5px 0px 5px 5px;"><b>WELCOME TO ABLYS</b></div>
<div style="color: #92d14e; font-size: 16px; padding: 5px 0px 5px 5px;"><b>Overview</b></div>
<div align="justify" style="padding: 5px 10px 5px 5px;">
  <p>This web site is our first effort to adjoin the candidates of Lakhera,   laxkar, Lakhara Community. We want to cover the complete details of   different areas of our society in this era of information and technology   by this site.</p>
  <div align="center" style="color: #029141; margin:20px 10px 10px; font-size: 36px;">
    <b>MAI NHI HUM</b>
  </div>
</div>
<div align="justify" style="padding: 5px 10px 5px 5px;">
  <p>This website and community is created both onnline and offline to join all the breaks which we have builded in our selves. "Mai Falana - Mai Dhimka mai jahan ka hu whi donation dunga ya whi development karunga." This will not work for us and never work in future also. So we have taken a step to join all on <span style='color:#FA351E;'><b>LAKHERA COMMUNITY.</b></span> </p>
  <br/>
  <p>This is the community webiste built for lakhera's development in all the sense. We have a thought behind it that we wil build a very strong community which will help the people who are suffering with any reason.</p><br/>

  <p>We will take a step to solve there problem to the extent.But for doing all this we need all of your help(support), only then we can be a developed community. And we will assure you that you will get all the records of what we are doing financially and socially.</p>
</div>

<div id='tag'>
  <p>With Regards</p>
  <p style="color:#FA351E;">Akhil Bhartiya Lakhara Yuva Sangthan</p>
</div>

<style type="text/css">
  p {font-size: 14px;}
  #tag {float: right;margin: 20px 0px;text-align: center;}
</style>