<div style="color: #FA351E; font-size: 15px; padding: 5px 0px 5px 5px;"><b>WELCOME TO ABLYS</b></div>
<div style="color: #92d14e; font-size: 16px; padding: 5px 0px 5px 5px;"><b>Overview</b></div>
<div align="justify" style="padding: 5px 10px 5px 5px;">This web site is our first effort to adjoin the candidates of Lakhera,   laxkar, Lakhara Community. We want to cover the complete details of   different areas of our society in this era of information and technology   by this site.
  <div align="center" style="color: #029141; margin:10px; font-size: 36px;">
            <b>MAI NHI HUM
            </b>
        </div>

</div>
<div align="justify" style="padding: 5px 10px 5px 5px;">
  <p>In this modern arena the great changes are taking place on the global   scenario. The development of information technology segment is playing a   big role in bringing the different person’s of the world much closure   to each other for their exchange of views for various things. Whole of   the life style , social customs,business relations, education systems   are changing in a new way of living.</p>
  <p>Almost all the person’s of the different societies are adopting the   new changes for keeping their live hood in accordance. This IT   development factor inspired me to contribute my experience of IT to   “Lakhera Samaj” so I decided to develop a website named   “www.lakherasamaj.com ” for the samaj in order to bring the each person   of the Lakhera Samaj wherever they may be living in any part of world to   come close to each other for exchanging the new thoughts for the   welfare and the development of the Lakhera Samaj.</p>
  <div align="right" style="padding: 0px 0px 0px 0px;"><a href="http://ablys.esatelcode.com/About.aspx" class="read">Read more</a></div>
</div>
<div>
    <div id="visionbox">
        <h3 class="boxfont" style="margin-bottom: 20px;">Our Vission</h3>
        <div align="justify">
        Our institute trains best minds in our area to become successful engineers and doctors. We equip them with knowledge to not only crack entrance</div>
    </div>
    <div id="missionbox">
        <h3 class="boxfont">Our Mission</h3>
        <div align="justify">
        Our institute trains best minds in our area to become successful engineers and doctors. We equip them with knowledge to not only crack entrance exam butdsd also how to </div>
    </div>
</div>