<div id="content">
  <div class="post-sidebar"></div>
  <div class="right-sidebar">
    <a name="login"></a>
    <div class="title-right">Login</div>
    <div class="right-box"></div>
    <div class="title-right">Search Bride/Groom</div>
    <div class="right-box"></div>
  </div>
  <div class="clr"></div>
</div>