<div class="inner-part">
                    <form runat="server">
                        <div class="news">
                            <div class="boxfont1 boxheading boxborder ">
                                <h1>Catergories</h1>
                            </div>
                            <div class="boxcotent">
                                
                                <ul>
                                    <li><a href="#">About ABLYS</a></li>
                                    <li><a href="#">About SAMAJ</a></li>
                                    <li><a href="#">Matrimonial</a></li>
                                    <li><a href="#">AEducation</a></li>
                                </ul>

                            
                            </div>
                            <!--<div class="boxcotent topmargin boxborder">
                                <p class="boxfont">Student Enrollment Verification</p>
                                <table>
                                    <tr>
                                        <td>Enroll No.</td>
                                        <td>
                                            <input id="Text1" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td>Date Of Birth</td>
                                        <td>
                                            <input id="Text2" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="right">
                                            <input id="Button1" type="button" value="Submit" />
                                        </td>

                                    </tr>
                                </table>
                            </div>-->
                            <div class="boxheading topmargin boxborder boxfont1">
                                <h1>Tell A Friend</h1>
                            </div>
                            <div class="boxcotent">
                                <table class="tabmargin">
                                    <tbody><tr>
                                        <td>Friends E-Mail</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="Text3" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Your E-Mail</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="Text4" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="Button2" type="button" style="width:100%" value="Submit">
                                        </td>

                                    </tr>
                                </tbody></table>
                            </div>
                            <div class="boxcotent topmargin" style="border-top: solid 2px #000000; background-color: #FFF;">
                                <img src="/assets/Donate.jpg" width="236" height="180" alt="Donate">
                                <img src="/assets/DonateButton.png" width="146" height="43" alt="donate" style="margin-top: -40px; margin-left: 50px;">
                            </div>
                        </div>

                        <div class="midd">
                            <div style="color: #FA351E; font-size: 15px; padding: 5px 0px 5px 5px;"><b>WELCOME TO ABLYS</b></div>
                            <div style="color: #92d14e; font-size: 16px; padding: 5px 0px 5px 5px;"><b>Overview</b></div>
                            <div align="justify" style="padding: 5px 10px 5px 5px;">This web site is our first effort to adjoin the candidates of Lakhera,   laxkar, Lakhara Community. We want to cover the complete details of   different areas of our society in this era of information and technology   by this site.
                              <div align="center" style="color: #029141; margin:10px; font-size: 36px;">
                                        <b>MAI NHI HUM
                                        </b>
                                    </div>

                            </div>
                            <div align="justify" style="padding: 5px 10px 5px 5px;">
                              <p>In this modern arena the great changes are taking place on the global   scenario. The development of information technology segment is playing a   big role in bringing the different person’s of the world much closure   to each other for their exchange of views for various things. Whole of   the life style , social customs,business relations, education systems   are changing in a new way of living.</p>
                              <p>Almost all the person’s of the different societies are adopting the   new changes for keeping their live hood in accordance. This IT   development factor inspired me to contribute my experience of IT to   “Lakhera Samaj” so I decided to develop a website named   “www.lakherasamaj.com ” for the samaj in order to bring the each person   of the Lakhera Samaj wherever they may be living in any part of world to   come close to each other for exchanging the new thoughts for the   welfare and the development of the Lakhera Samaj.</p>
                              <div align="right" style="padding: 0px 0px 0px 0px;"><a href="http://ablys.esatelcode.com/About.aspx" class="read">Read more</a></div>
                            </div>
                            <div>
                                <div id="visionbox">
                                    <h3 class="boxfont" style="margin-bottom: 20px;">Our Vission</h3>
                                    <div align="justify">
                                    Our institute trains best minds in our area to become successful engineers and doctors. We equip them with knowledge to not only crack entrance</div>
                                </div>
                                <div id="missionbox">
                                    <h3 class="boxfont">Our Mission</h3>
                                    <div align="justify">
                                    Our institute trains best minds in our area to become successful engineers and doctors. We equip them with knowledge to not only crack entrance exam butdsd also how to </div>
                                </div>
                            </div>

                        </div>
                        <div class="rightnews">
                            <div class="boxheading boxborder boxfont1">
                                <h1>Search Bride/Groom</h1>
                            </div>
                            <div class="boxcotent">
                                <table class="tabmargin">
                                    <tbody><tr>
                                        <td>
                                            Looking For:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select name="sgender">
                   <option value="">Select Option</option>
                   <option value="Female">Bride </option>
                   <option value="Male">Groom</option>
               </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Gotra:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select name="sgotra">
                                  <option value="">Select Option</option>
                                  <option value="Badela">Badela</option>
                                  <option value="Badwar">Badwar</option>
                                  <option value="Bagadi">Bagadi</option>
                                  <option value="Baksariya">Baksariya</option>
                                  <option value="Bhagat">Bhagat</option>
                                  <option value="Bhardwaj">Bhardwaj</option>
                                  <option value="Bhati">Bhati</option>
                                  <option value="Bilha">Bilha</option>
                                  <option value="Chandan Choli">Chandan choli</option>
                                  <option value="Chandel">Chandel</option>
                                  <option value="Chandra Vanshi">Chandra vanshi</option>
                                  <option value="Chandrma">Chandrma</option>
                                  <option value="Chodhariya">Chodhariya</option>
                                  <option value="Chouhan">Chouhan</option>
                                  <option value="Devda">Devda</option>
                                  <option value="Dhalyiya">Dhalyiya</option>
                                  <option value="Dod">Dod</option>
                                  <option value="Dubariya g">Dubariya g</option>
                                  <option value="Gaharwal">Gaharwal</option>
                                  <option value="Gavaliyor Khambh">Gavaliyor khambh</option>
                                  <option value="God">God</option>
                                  <option value="Gudalya">Gudalya</option>
                                  <option value="Handa">Handa</option>
                                  <option value="Hanumanta">Hanumanta</option>
                                  <option value="Hatadiya">Hatadiya</option>
                                  <option value="Himmatpuri">Himmatpuri</option>
                                  <option value="Jaisangpura">Jaisangpura</option>
                                  <option value="Jaylok">Jaylok</option>
                                  <option value="Jhilmiliya">Jhilmiliya</option>
                                  <option value="Jogela">Jogela</option>
                                  <option value="Kamdhaj">Kamdhaj</option>
                                  <option value="Karediya">Karediya</option>
                                  <option value="Kashyap">Kashyap</option>
                                  <option value="Kethuniya">Kethuniya</option>
                                  <option value="Khanderao">Khanderao</option>
                                  <option value="Khinchi">Khinchi</option>
                                  <option value="Mahatele">Mahatele</option>
                                  <option value="Mahobia">Mahobia</option>
                                  <option value="Makwana">Makwana</option>
                                  <option value="Mandaretya">Mandaretya</option>
                                  <option value="Mandariya">Mandariya</option>
                                  <option value="Mandhata">Mandhata</option>
                                  <option value="Motiya">Motiya</option>
                                  <option value="Mudree">Mudree</option>
                                  <option value="Nagoriya">Nagoriya</option>
                                  <option value="Nainvaya">Nainvaya</option>
                                  <option value="Nalwariya">Nalwariya</option>
                                  <option value="Narwaan">Narwaan</option>
                                  <option value="Panihar">Panihar</option>
                                  <option value="Panwar">Panwar</option>
                                  <option value="Parihar">Parihar</option>
                                  <option value="Rathod">Rathod</option>
                                  <option value="Ratnela">Ratnela</option>
                                  <option value="Sambhariya">Sambhariya</option>
                                  <option value="Sarangpura">Sarangpura</option>
                                  <option value="Shandilya">Shandilya</option>
                                  <option value="Solanki">Solanki</option>
                                  <option value="Songra">Songra</option>
                                  <option value="Tahariya">Tahariya</option>
                                  <option value="Tentwal">Tentwal</option>
                                  <option value="Tilgatiya">Tilgatiya</option>
                                  <option value="Vadhys">Vadhys</option>
                                  <option value="Vashist">Vashist</option>
                                  <option value="Vyas">Vyas</option>
                              </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Select City:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
<select name="sdistt">
                                <option value="">Select Option</option>
                                <option value="BANSWARA">Banswara</option>
                                <option value="BARMER">Barmer</option>
                                <option value="Bathinda">Bathinda</option>
                                <option value="Bharatpur">Bharatpur</option>
                                <option value="Bhilwara">Bhilwara</option>
                                <option value="bhiwani">Bhiwani</option>
                                <option value="chhatarpur">Chhatarpur</option>
                                <option value="Dausa">Dausa</option>
                                <option value="FATEHABAD">Fatehabad</option>
                                <option value="Guna">Guna</option>
                                <option value="hamirpur">Hamirpur</option>
                                <option value="HANUMANGARH">Hanumangarh</option>
                                <option value="HISAR">Hisar</option>
                                <option value="Hoshangabad">Hoshangabad</option>
                                <option value="indore">Indore</option>
                                <option value="jabalpur">Jabalpur</option>
                                <option value="jaipur">Jaipur</option>
                                <option value="JODHPUR">Jodhpur</option>
                                <option value="karuli">Karuli</option>
                                <option value="KATNI">Katni</option>
                                <option value="KOTA">Kota</option>
                                <option value="MANDSAUR">Mandsaur</option>
                                <option value="NAGAUR">Nagaur</option>
                                <option value="Noida">Noida</option>
                                <option value="pali">Pali</option>
                                <option value="pali marwar">Pali marwar</option>
                                <option value="Pune">Pune</option>
                                <option value="Raipur">Raipur</option>
                                <option value="Raisen">Raisen</option>
                                <option value="RATLAM">Ratlam</option>
                                <option value="Rewa">Rewa</option>
                                <option value="Rohtak">Rohtak</option>
                                <option value="sagar">Sagar</option>
                                <option value="satna">Satna</option>
                                <option value="SHAHDOL">Shahdol</option>
                                <option value="sirsa">Sirsa</option>
                                <option value="SOUTH">South</option>
                                <option value="surat">Surat</option>
                                <option value="thane">Thane</option>
                                <option value="Tonk">Tonk</option>
                                <option value="Udaipur">Udaipur</option>
                                <option value="Vaishali">Vaishali</option>
                            </select>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
Select State:
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <select name="sstate">
                                    <option value="">Select Option</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Madya Pradesh">Madya pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Uttar Pradesh">Uttar pradesh</option>
                                </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="submit" value="Search" style="width:100%;">
                                        </td>
                                    </tr>
                                </tbody></table>
                                
			   

                                
			    			  

                                
			  			  

                                
			  
                                
                                
                            </div>

                            <div class="boxcotent topmargin" style="border-top: solid 2px #000000;">
                                <img src="/assets/img_Photo_Gallery.jpg" width="236" height="180" alt="Photo">
                            </div>
                            <div class="boxcotent topmargin boxborder">
                                <p class="boxfont">Visitor</p>
                            </div>

                        </div>
                    </form>
                </div>




                <!--Welcome Part Start-->
                <!--Welcome Part End-->


                <!--Event Part Start-->

                <!--Event Part End-->

                <!--Moments Part Start-->
                <!--Moments Part End-->