                <div class="footer-top">
                    <div class="footer-top-inner">

                        <div class="footer-menu">
                            <ul>
                                <li><a href="http://ablys.esatelcode.com/index.html">Home</a></li>
                                <li><a href="./ABLYS_files/ABLYS.html">| About us</a></li>
                                <li><a href="./ABLYS_files/ABLYS.html">| Courses</a></li>
                                <li><a href="./ABLYS_files/ABLYS.html">| Contact Us</a></li>
                                <li><a href="./ABLYS_files/ABLYS.html">| FAQ</a></li>
                            </ul>
                        </div>
                        <div class="footercontent">
                            <p style="font-size: 14px">
                                Akhil Bhartiya Lakhara Yuva Sangthan(A Social Education &amp; Walfare Society)
                            </p>
                            <p>E-mail :ablys2013j@gmail.com,;website:ablys.org</p>
                        </div>
                        <div class="footer-bottom">

                            <!--Copyright Part Start-->
                            <div class="footer-copy">
                                Copyright © 2014 ABLYS. All Rights Reserved.
                            </div>
                            <!--Copyright Part End-->

                            <!--Footer logo Part Start-->
                            <div class="footer-logo">
                                Design &amp; Developed By: Dharmesh & Prakash Laxkar
                            </div>
                            <!--Footer logo Part End-->

                        </div>

                    </div>
                </div>


            </div>