                <div class="footer-top">
                    <div class="footer-top-inner">

                        <div class="footer-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about_samaj">| About us</a></li>
                                <li><a href="#">| Courses</a></li>
                                <li><a href="#">| Contact Us</a></li>
                                <li><a href="#">| FAQ</a></li>
                            </ul>
                        </div>
                        <div class="footercontent">
                            <p style="font-size: 14px">
                                Akhil Bhartiya Lakhara Yuva Sangthan(A Social Education &amp; Walfare Society)
                            </p>
                            <p>E-mail :ablys2013@gmail.com  website:ablys.org</p>
                        </div>
                        <div class="footer-bottom">

                            <!--Copyright Part Start-->
                            <div class="footer-copy">
                                Copyright © 2015 ABLYS. All Rights Reserved.
                            </div>
                            <!--Copyright Part End-->

                            <!--Footer logo Part Start-->
                            <div class="footer-logo">
                                Design &amp; Developed By: <%= link_to "Ablys Technical Team" %>
                            </div>
                            <!--Footer logo Part End-->

                        </div>

                    </div>
                </div>


            </div>