<div class='page-header'>
<div id='logo'></div>
<div id='banner'></div>
</div>

<style type="text/css">
	#banner {
		background-color: #B10304;
		clear: right;
		float: left;
		height: 218px;
		width: 822px;
		background-image: url("/assets/final-slice-cutting_05.jpg");
		background-repeat: repeat-x;
	}

	#logo {
		float: left;
		height: 218px;
		width: 202px;
		background-color: #B10304;
		background-image: url("/assets/final-slice-cutting_01.jpg");
	}
</style>	