<!--Header Start-->
<div id="header">
  <div class="logo-part">
      <div class="logo">
        <a href="http://ablys.esatelcode.com/index.aspx">
          <img src="/assets/logo.jpg" width="137" height="137" alt=""></a>
      </div>
      <div class="search-part">
        <div id="instname">अखिल भारतीय लखारा युवा संघठन</div>
      </div>
  </div>
</div>
<div id="slide">
  <div id="leftslide">
    <div class="menu-part">
      <div class="menu">
        <div class="menu-inner">
          <ul id="main_menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About Us</a>
              <ul>
                <li><a href="#">VISION &amp; MISSION</a></li>
                <li><a href="#">CHAIRMAN</a></li>
              </ul>
            </li>
            <li><a href="#">Enquiry</a>
            </li>
            <li><a href="#">Gallery</a>
            </li>
            <li><a href="#">Testimonials</a>
            </li>
            <li><a href="#">Faculty</a>
            </li>
            <li style="background: none; padding-right: 0px;"><a href="#">Achievements</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner-part">
      <div id="outerslider">
        <div class="container">
          <div id="slidercontainer" class="twelve columns">
            <section id="slider">
            	<div class="line-op"></div>
              <div id="layerslider" class="slideritems ls-container ls-smartgroup" style="position: relative;">
              	<div class="ls-inner" style="width: 750px; height: 220px; background-color: transparent;"><div class="ls-layer" id="ls-layer-1" data-rel="slidedelay: 3000;" style="visibility: visible; width: 0px; height: 220px; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
                      <img class="ls-bg" src="/assets/banner1.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;"></div><div class="ls-layer" id="ls-layer-2" data-rel="slidedelay: 3000;" style="width: 0px; height: 220px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                    
                      <img class="ls-bg" src="/assets/banner2.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                   
                  </div><div class="ls-layer ls-active" id="ls-layer-3" data-rel="slidedelay: 3000;" style="width: 750px; height: 220px; display: none; visibility: visible; left: auto; right: 0px; top: 0px; bottom: auto;">
                      
                      <img class="ls-bg" src="/assets/banner3.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                     
                  </div><div class="ls-layer" id="ls-layer-4" data-rel="slidedelay: 3000;" style="width: 0px; height: 220px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                      
                      <img class="ls-bg" src="/assets/banner4.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                     
                  </div><div class="ls-layer" id="ls-layer-5" data-rel="slidedelay: 3000;" style="width: 0px; height: 220px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                      
                      <img class="ls-bg" src="/assets/banner5.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                     
                  </div><div class="ls-layer" id="ls-layer-6" data-rel="slidedelay: 3000;" style="width: 0px; height: 220px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                      
                      <img class="ls-bg" src="/assets/banner6.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                     
                  </div><div class="ls-layer" id="ls-layer-7" data-rel="slidedelay: 3000;" style="width: 0px; height: 220px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                      
                      <img class="ls-bg" src="/assets/banner7.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                     
                  </div><div class="ls-layer" id="ls-layer-8" data-rel="slidedelay: 3000;" style="width: 0px; height: 220px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                      
                      <img class="ls-bg" src="/assets/banner8.jpg" alt="layer" style="margin-left: -375px; margin-top: -110px;">
                     
                  </div>
                  </div>
              <a class="ls-nav-prev" href="#"></a><a class="ls-nav-next" href="#"></a><div class="ls-bottom-nav-wrapper"><a class="ls-nav-start" href="#"></a><span class="ls-bottom-slidebuttons"><a href="#" class=""></a><a href="#" class=""></a><a href="#" class="ls-nav-active"></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a></span><a class="ls-nav-stop" href="#"></a></div></div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="results">
    <div class="boxfont1 boxheading boxborder ">
      <h1>Log-in</h1>
    </div>
    <table style="margin-top: 10px; margin-left: 10px;">
      <tbody>
        <tr>
          <td colspan="2">User Name</td>
        </tr>
        <tr>
          <td colspan="2"><input name="Usrname" type="text"></td>
        </tr>
        <tr>
          <td colspan="2">Password</td>
        </tr>
        <tr>
          <td colspan="2"><input name="Pssword" type="text"></td>
        </tr>
        <tr>
          <td colspan="2"><input id="Button1" type="button" style="width:100%" value="Submit">
          </td>
        </tr>
        <tr>
          <td align="center" style="padding-top:7px;"><a href="#">Register</a></td>
          <td align="center" style="padding-top:7px;"><a href="#">Forgot Password</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Banner Part End-->


<!--Header End-->