<!-- <div class='page-header'>
<div id='logo'></div>
<div id='banner'></div>
</div> -->
<div id='top'>
	<div class="header">
		<div class="logo">
			<%= image_tag("logo.png") %>
		</div>
		<div style="float:right">
			<div class="login"><a href="http://lakherasamaj.com/register/">Register</a> <a href="http://lakherasamaj.com/#login" style="border:none">Log in</a></div>
		</div>
	</div>
</div>

<style type="text/css">
	/*#banner {
		background-color: #B10304;
		clear: right;
		float: left;
		height: 218px;
		width: 822px;
		background-image: url("/assets/final-slice-cutting_05.jpg");
		background-repeat: repeat-x;
	}

	#logo {
		float: left;
		height: 218px;
		width: 202px;
		background-color: #B10304;
		background-image: url("/assets/final-slice-cutting_01.jpg");
	}
*/

	.header {
		background: url('/assets/header-bg.jpg') no-repeat left;
		height: 94px;
		}
	.logo {
		float: left;
		padding: 30px 0 0 0;
		}
	#top{
		background: url('/assets/top-bg.png') repeat-x;
		position: relative;
		z-index: 200;
	}
	.login {
		float: right;
		background: url('/assets/login-bg.jpg') repeat-x;
		padding: 9px 0 0 0;
		height: 24px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		}
</style>